h1  {
    color:#025157; /*comentario de CSS*/
    font-family: "Alegreya", serif;
    font-weight: 900;
    font-size: 60px}
h4  {
    font-family: 'Slabo 27px', serif;
    color:#46484c; 
    font-weight: normal;
    font-size: 20px;}
p   {
    font-family:"open sans" ;
    color:#8b8b8bcc}
.signup    {
    display: block;
    height: 55px;
    display: block;
}   
.signup button  {
    color: #fff; 
    background-color:#025157; 
    border-radius: 5px;
    padding: 6px 20px;
    font-family: 'Open Sans', sans-serif;
    border: 0;
    height: 100%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;}

input   {
    border: 1px;
    border-style: solid;
    border-color:  #b6b6b6;
    padding: 14px;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;}
body    {
    background-color: #fffbf7; 
    margin:0 ;}

    .navegadores  {
    margin: 40px 20px 0;
    font-size: 0;}
.cuerpo   {
    margin-top: 150px;
    text-align: center;}
.navegadores li  {
    display: inline}
.navegadores > * {
    display: inline-block; 
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.navegadores .logo  {
    width: 20%;}
.cuerpo .imagen-propiedades {
    width: 100%;
    max-width: 1000px;
    }
.navegadores .acciones a    {
    color: #67b54b;
    border: 0;
    margin-left: 16px;
    font-weight: bold;
}
.barranav li    {
    display: inline;
    font-family: 'Open Sans', sans-serif;
    margin: 0 15px;
}
.navegadores .acciones button    {
    color: #fffbf7;
    background-color: #67b54b;
    border: 0;
    margin-left: 16px;
    padding: 14px 12px;
    font-weight: bolder;
    border-radius: 5px;
    height: 100%}

.publish h3   {
    color:#025157; /*comentario de CSS*/
    font-family: "Alegreya", serif;
    line-height: 48px;
    font-size: 40px;
    font-weight: 900;
}
.publish .textopub  {
    display: inline;
    font-family: 'Open Sans', sans-serif;
    margin: 0 15px;
    color: #343434;
}



.expvideo   {
    flex-direction: column;
    align-items: center;
    flex: 1
}


.publish    {
    flex: 1
}

.expvideo img {
    width: 120px;
    margin-top: 10px;
    }

.promo  {
    display:flex;
}

.navegadoresfijos{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    background-color: #fffbf7;

}
.promo  {
    padding: 50px;
}


/*SESION 4 gridcode*/

.features   {
    background-color: #025157;
    display:grid;
    /*grid-template-columns: repeat (3, 1fr) = 
    grid-template-columns: 1fr, 1 fr, 1 fr*/
    /*grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%; =
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);*/
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    height: 660px;
    padding: 5% 10%;
}

.features .feature-card  {
   background-color: #fff;
   margin: 0 15px 30px;
   /*top: 0, left & right: 15, bottom: 30*/
   border: 1px solid #dadada;
   border-radius: 5px;
   display: flex;
   align-items: center;
   overflow: hidden;
}

.features .feature-card .feature-content    {
    padding: 30px 20px 4px 40px;
}

.feature-content img    {
    height: 20px;
}