h1  {color:#025157}
h4  {color:#46484c; font-weight: normal;}
p   {color:#8b8b8bcc}
button  {color: #fff; background-color:#025157; border-radius: 8px;padding: 14px;}
input   {padding: 14px;border-radius: 8px;float:left}
body    {background-color: #fffbf7; font-family: "open sans","sans-serif";}